* {
    -webkit-box-sizing:  border-box;
    box-sizing:          border-box;
}

html, body {
    height : 100%;
    margin : 0;
}

main {
    display:             flex;
    flex-direction:      column;
    flex:                1;
}

body {
    display        : flex;
    flex-direction : column;
}

#map {
    flex-grow:           1;
}

.controls {
    display         : flex;
    align-items     : stretch;
    /* flex            : 1 2; */
    justify-content : space-around;
}

.display_contents {
    display: contents;
}

.display_none {
    display: none;
}

/* #hide_controls_button {
    display: none;
} */

.box {
    border : solid;
}

.labeled_input {
    display         : flex;
    justify-content : space-between;
}

.labeled_input label {
    padding-left : 0.1em;
}

@media screen and (max-width : 990px) {
    .controls {
        align-items    : stretch;
        flex-direction : column;
    }

    button {
        padding : 0.3em;
    }

    /* #hide_controls_button {
        display: unset;
    } */
}


.maplibregl-ctrl-scale:has(+ .maplibregl-ctrl-scale) {
    margin: 0 0 0 10px
}

.maplibregl-popup-content {
    max-height:         350px;
    overflow-y:         auto;
}

.maplibregl-popup-content > pre {
    white-space: pre-wrap
}

#maplibregl-terradraw-overlay {
    position: absolute;
    bottom: 60px;
    left: 10px;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;

    padding: 0 0.5em;

    background-color: rgba(255, 255, 255, 0.6);
}

.layer-switcher-list {
    max-height:         70%;
    overflow-y:         scroll;
    scrollbar-gutter:   stable;

    font-size:          1em;
}

.maplibregl-ctrl-group .maplibregl-terradraw-render-button {
    width: auto;
    background-size: auto;
    background-position-x: 2px;
    background-repeat: no-repeat;
}

.maplibregl-terradraw-render-button span {
    display: inline-block;
    width: auto;
    margin-left: 29px;
    margin-right: 2px;
}


.maplibregl-ctrl-group .maplibregl-terradraw-add-control {
    width: 100%;
    background-size: auto;
    background-position-x: 2px;

    text-align: left;
}

.maplibregl-terradraw-add-control span {
    display: inline-block;
    width: auto;
    margin-left: 29px;
    margin-right: 2px;
}


#map_about_dialog {
    max-width: 90vw;
    max-height: 90vh;
    overflow: scroll;
    scrollbar-gutter: stable;
}